<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.torumanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToruManagement">
        <activity
            android:name=".Activity.PayAmountActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AmountDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CostDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CostActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MemberDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddMemberActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>